.critters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
}

.critter {
  border-radius: 2rem;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.critterInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.critterControls {
  display: flex;
  gap: 0.5rem;
}

.delete {
  background-color: var(--destructive);
  color: var(--light);
}

.deleteControls {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.deleteControls button {
  min-width: 5rem;
  border-color: var(--dark);
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.nameLong {
  font-size: 1rem;
}

.nameMed {
  font-size: 1.1rem;
}

.pagination {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
}

.pagination button:disabled {
  visibility: hidden;
}

.loadingIndicatorOuter {
  position: absolute;
  top: 45%;
  animation: shrink 5s ease-in 1;
  transform: scale(0);
}

.loadingIndicator {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 3px var(--foreground) dashed;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes shrink {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(0);
  }
}

@media (min-width: 768px) {
  .critters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
