.critterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem;
  max-width: 100%;
}

.critter {
  background-color: var(--critter-bg);
  border-radius: 3rem;
  max-width: 100%;
}

.controls {
  background-color: var(--highlight);
  color: black;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.variants {
  background-color: var(--highlight-light);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.25rem, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px var(--dark) solid;
}

.variants legend {
  background-color: var(--highlight-light);
  padding: 0.25rem 0.8rem;
  border-radius: 0.5rem;
  border: 1px var(--dark) solid;
  border-bottom-width: 0;
  position: relative;
}

.variants legend::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: calc(100% + 1rem);
  height: 50%;
  border-radius: 0.5rem;
  background: var(--highlight-light);
}

.variants legend span {
  position: relative;
  z-index: 1;
}

.variants input {
  display: none;
}

.variants label {
  background-color: var(--light);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 5px;
  border: 1px var(--dark) solid;
  padding: 3px;
}

.variants label:has(input:checked) {
  background-color: var(--highlight);
  border-width: 2px;
}

.variants label img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .critterContainer {
    flex-direction: row;
  }

  .controls {
    max-width: 18rem;
  }
}
