.critterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem;
  max-width: 100%;
}

.critter {
  background-color: var(--critter-bg);
  border-radius: 3rem;
  max-width: 100%;
  border: 2px var(--foreground) solid;
}

.critterNote {
  display: block;
  text-align: center;
  margin-top: 0.25rem;
}

.controls {
  background-color: var(--highlight);
  color: var(--dark);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid transparent;
  border-image-source: url("/decoration/mouth-rosie-dark-border.png");
  border-image-slice: 42 47;
  border-image-width: 1rem;
  border-image-outset: 0.425rem 0.355rem;
  border-image-repeat: round;
  overflow: hidden;
}

:root:not(:has(input[aria-label*="Light Mode"]:checked)) {
  .controls {
    border-image-source: url("/decoration/mouth-rosie-white-border.png");
  }
}

.variants {
  background-color: var(--highlight-light);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.25rem, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px var(--dark) solid;
  position: relative;
}

.tabButton {
  text-align: center;
  width: 5rem;
  position: absolute;
  top: calc(-2rem + 1px);
  left: calc(5rem + 0.6rem);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.15rem 0.8rem;
}

.variants legend {
  width: 5rem;
  background-color: var(--highlight-light);
  padding: 0;
  margin-bottom: -1.5rem;
  border-radius: 0.5rem;
  border: 1px var(--dark) solid;
  border-bottom-width: 0;
  position: relative;
}

.variants legend::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: calc(100% + 1rem);
  height: 50%;
  border-radius: 0.5rem;
  background: var(--highlight-light);
}

.variants legend span {
  text-align: center;
  position: relative;
  top: -0.8rem;
  z-index: 1;
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

.variants input {
  display: none;
}

.variants label {
  background-color: var(--medium);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 5px;
  border: 1px var(--dark) solid;
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants label:has(input:checked) {
  background-color: var(--highlight);
  border-width: 2px;
}

.variants label img {
  max-width: 100%;
  max-height: 100%;
}

.variants label .eyeIcon {
  max-height: 1.25rem;
  max-width: 1.5rem;
}

@media (min-width: 768px) {
  .critterContainer {
    flex-direction: row;
  }

  .controls {
    max-width: 18rem;
  }
}
